body{
    margin: 0;
    font-family: sans-serif;
    background-color: #121212;
    color: #fbfaf5;
}

.nav-item {
    height: 100%;
}
  
.nav-list {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004040;
    list-style: none;
}

.left-links {
    display: flex;
    align-items: center;
}

.nav-logout {
    height: 100%;
    background-color: #004040;
    list-style: none;
}
  
.nav-link {
    display: block;
    height: 100%;
    text-decoration: none;
    padding: 15px;
    color: #fbfaf5;
}