body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #121212;
    color: #fbfaf5;

    background-image: url("../images/PokemonParkBanner.jpg");
    background-size: 100% 100%; 
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.banner {
    width: 100%;
    height: 100px;
    object-fit: cover;
    vertical-align: middle;
  }

.nav-item {
    height: 100%;
}
  
.nav-list {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004040;
    list-style: none;
}

.left-links {
    display: flex;
    align-items: center;
}

.nav-logout {
    height: 100%;
    background-color: #004040;
    list-style: none;
}
  
.nav-link {
    display: block;
    height: 100%;
    text-decoration: none;
    padding: 15px;
    color: #fbfaf5;
}

.search-bar-container{
    background-color: #121212;
    width: 720px;
    height: 50px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center; 

    border: solid;
    border-color: rgb(125, 2, 2);
    border-width: thin;
    border-radius: 10px;
}

.search-bar label {
    font-weight: bold;
    margin-left: 5px;
}

.search-input {
    width: 450px;
    height: 30px;
    text-align: left;
}

.search-input::placeholder {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.search-button {
    height: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 5px;
}

.search-result {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.card {
    width: 25%;
    text-align: center;
}

.add-form-container {
    background-image: url("../images/PokedexBackground.webp");
    background-size: 100% 100%;
    width: 600px;
    height: 275px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center; 

    border: solid;
    border-color: rgb(125, 2, 2);
    border-width: thin;
    border-radius: 10px;
}

.add-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 1%;
}

.add-form label {
    font-weight: bold;
    color: #121212;
    display: flex;
    margin-bottom: 1%; 
    margin-top: 1%;
}


.add-form input { 
    box-sizing: border-box; 
    margin-bottom: 1%; 
    margin-top: 1%;
}

.add-form input::placeholder {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.add-button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: #FFDAB9;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.collection-result {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
