{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class = "landing-page">
    <h1 class="landing-header">Welcome to Trade Binder!</h1>
    <div class="text-container">
        <p class="landing-text">
            Trade Binder is a webapp designed to help you keep track of your Pokemon Card collection.
            Current features include: searching cards, ability to view your collection or wishlist, and directly add a card to your collection via form. 
            You may also add cards directly to your collection/wishlist from the search results and you may remove a card from your collection using the button provided on the collection page. 
        </p>
    </div>
    <img class="landing-image" src="../static/images/landingbackground.jpg" alt="Original Starters">
</div>
{% endblock %}